In [3]:
import sys
import os
import pandas as pd
from pathlib import Path
project_root = os.path.abspath(os.path.join(os.getcwd(), "../../.."))

if project_root not in sys.path:
    sys.path.insert(0, project_root)

from src.etl.infrastructure.db_connector import DBConnector # noqa
from src.etl.domain.entities import Customer # noqa
from src.etl.infrastructure.real_customer_repository import RealCustomerRepository # noqa

"""
Lire le fichier clients.csv et regrouper les clients par ville.
"""
def customers_csv_to_df():
    filepath = Path('../../../data_src/clients.csv')
    df = pd.read_csv(filepath)
    group_by_city = df.groupby('ville').size().reset_index(name='counts')
    return group_by_city
display(customers_csv_to_df().head(5))

       ville  counts
0   Bordeaux      10
1       Lyon      10
2  Marseille      10
3      Paris      10
4   Toulouse      10

In [4]:
# Récupérer le prix moyen par catégorie de produit
def get_average_price_by_category():
    filepath = Path('../../../data_src/produits.json')
    df = pd.read_json(filepath)
    avg_price_by_category = df.groupby('categorie')['prix'].mean().reset_index(name='average_price')
    avg_price_by_category = avg_price_by_category.sort_values(by='average_price', ascending=False)
    return avg_price_by_category

display(get_average_price_by_category().head(2))

     categorie  average_price
1  Catégorie B           35.0
0  Catégorie A           32.5

In [5]:
with DBConnector() as connector:
    source_sql = Path('../../../data_src/ventes.sql')
    with open(source_sql, 'r') as file:
        query = file.read()
        sales_df = connector.execute_query(query)
        display(sales_df.head(5))

KeyboardInterrupt: